body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #4f007c;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background img {
  object-fit: cover;
}

#page-title {
  text-align: center;
}

#page-description {
  text-align: center;
}

#counter-description {
  text-align: center;
}

#counter-unit {
  text-align: center;
  font-size: 24px;
}

#counter-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #7700ff;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.footerBox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #7700ff21;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.178);
}

@media (min-width: 281px) {
  #background img {
    max-width: 100%;
  }
}
@media (min-width: 374px) {
  #background img {
    max-width: 100%;
  }
}
@media (mix-width: 500px) {
  #background img {
    max-width: 100%;
  }
}